.alarm{
    z-index: 10;
}

.alarm-container{
    width: 350px;
    height: 120px;
    padding: 15px;
    background-color: rgb(104, 144, 219);
    border-radius: 10px;
    color: white;

    & p{
        cursor: pointer;
        padding: 2px 5px;
        border: 1px solid white;
        border-radius: 5px;
    }

    & p:hover{
        background-color: white;
        color: rgb(104, 144, 219);
    }
}
