.details{
    width: 100%;
    height: 350px;
    margin-top: 5px;
    padding: 10px 10px;
    background-color: white;
    border-radius: 10px;
}

.details-container{
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.details-container::-webkit-scrollbar,
.event-days-sc::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(233, 233, 233);
    border-radius: 8px;
}

.details-container::-webkit-scrollbar-thumb,
.event-days-sc::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: rgb(178, 178, 178);
    border-radius: 8px;
}

.event-item{
    width: 90%;
    height: 75px;
    padding-top: 10px;
    margin: 5px 0;
    background-color: lightblue;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & p{
        cursor: pointer;
    }
}

.event-info{
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
}

.edit{
    cursor: pointer;
    width: 28px;
    height: 18px;
    margin-right: 30px;
    background-color: white;
    border-radius: 10px;
    color: lightblue; 
    font-size: 14px;
}