.details{
    width: 50%;
    padding: 0 10px;
}

.details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-item{
    cursor: pointer;
    width: 80%;
    height: 90px;
    margin: 5px 0;
    background-color: lightblue;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.event-info{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}