.details{
    width: 50%;
    padding: 0 10px;
}

.details-container{
    width: 100%;
}

.event-item{
    width: 75%;
    height: 65px;
    padding-top: 10px;
    margin: 5px 0;
    background-color: lightblue;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.event-info{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}