@import url(calendar.css);
@import url(details.css);
@import url(event.css);
@import url(fullYear.css);
@import url(alarm.css);

:root{
  --background: #E6E6FA;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
  background-color: var(--background);
}

.app {
  width: 70%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.containers{
  width: 49.5%;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.x-btn,
.plus-btn{
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 1px solid lightgray;
  border-radius: 50%;
  font-size: 12px;
}

.plus-btn:hover{
  border: 1px solid rgb(105, 161, 95);
  color: rgb(105, 161, 95);
}

.x-btn:hover{
  border: 1px solid rgb(161, 95, 95);
  color: rgb(161, 95, 95);
}

.flex-col-cent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-col-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}